{% extends 'base.html' %}

{% block content %}
    <h2 class="head-center">Admin Dashboard</h2>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-dark" type="button"><a href="{% url 'see_all_customers' %}">See All Customers</a></button>
        <button class="btn btn-dark" type="button"><a href="{% url 'see_all_transactions' %}">See All Transactions</a></button>
        <button class="btn btn-dark" type="button"><a href="{% url 'add_customer' %}">Add New Customer</a></button>
        
    </div>

{% endblock %}