{% extends 'base.html' %}
{% block content %}
<h2 class="head-center">All Transaction Details</h2>
<table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Sender Account No</th>
                <th>Receiver Account No</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Transaction ID</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in all_transactions %}
            <tr>
                <td>{{ transaction.sender_account_no }}</td>
                <td>{{ transaction.receiver_account_no }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.transaction_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}